[submodule "mrpt_local_obstacles/submodules/mp2p_icp"]
	path = mrpt_local_obstacles/submodules/mp2p_icp
	url = https://github.com/MOLAorg/mp2p_icp.git
[submodule "mrpt_local_obstacles/submodules/mola-common"]
	path = mrpt_local_obstacles/submodules/mola-common
	url = https://github.com/MOLAorg/mola-common.git
