<?xml version="1.0"?>
<launch>

   <!-- Gazebo  -->
  <include file="$(find mrpt_tutorials)/launch/empty_world.launch" />

  <!-- Robot with diff drive -->
  <include file="$(find gazebo_plugins)/test/multi_robot_scenario/launch/pioneer3dx.gazebo.launch">
     <arg name="robot_name" value="r1" />
     <arg name="robot_position" value="-x 0.0 -y -0.5 -z 0.01 -R 0 -P 0 -Y +1.57" />
   </include>

  <node pkg="tf" type="static_transform_publisher" name="base_to_odom_r1" 
     args="0.0 -0.0 0.0 0.0 0.0 0.0 base_link r1/odom 200" />
     
  <node name="room_hbf" pkg="gazebo_ros" type="spawn_model" args="-file $(find mrpt_tutorials)/models/room_gh25/model.sdf -sdf -x -20.0 -y -9 -model room" />

</launch>
