<?xml version="1.0"?>
<launch>

  <arg name="robot_name" default="r1" />
  <arg name="scan" default="top_laser/scan" />
  <arg name="ini_file" default="$(find mrpt_tutorials)/cfg/pf-localization_real.ini" />
  <arg name="map_file" default="$(find mrpt_tutorials)/maps/gh25_real_top_laser.simplemap" />
  
  <group ns="$(arg robot_name)">
    <node pkg="mrpt_localization" type="mrpt_localization_node" name="r1_localization" output="screen">
      <remap from="scan" to="$(arg scan)"/>
      <param name="tf_prefix" value="$(arg robot_name)"/>   
      <param name="ini_file" value="$(arg ini_file)"/> 
      <param name="map_file" value="$(arg map_file)"/>    
    </node>
  </group>

</launch>
