<launch>
   <!--PLAY RAWLOG FILE-->

  <arg name="rawlog_file" default="$(find mrpt_ekf_slam_2d)/tutorial/kf-slam_demo_2d.rawlog" />
  <arg name="rate" default="10" />
  <node pkg="mrpt_rawlog" type="rawlog_play_node" name="rawlog_play_node" output="screen">
    <param name="debug" value="true"/> 
    <param name="rawlog_file" value="$(arg rawlog_file)"/>
    <param name="rate" value="$(arg rate)"/>
  </node>





</launch>

