<?xml version="1.0"?>

<model>
  <name>gh25</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Markus Suchi</name>
    <email>9103533@student.tuwien.ac.at</email>
  </author>

  <description>
    A model of Gusshausstrasse V4R-Group.
  </description>

  <depend>
  </depend>
</model>
