<?xml version="1.0"?>
<launch>
<arg name="ini_file" default="$(find tps_astar_nav)/configs/ini/barn-pf-localization.ini" />
<arg name="map_file" default=""/>
<arg name="odom_frame_id" default="r1/odom"/>
<arg name="global_frame_id" default="map"/>
<arg name="base_frame_id" default="r1/base_link"/>
<arg name="map_update_skip" default="20"/>
<arg name="particle_cloud_update_skip" default="1"/>
<arg name="debug" default="false"/>
<arg name="gui_mrpt" default="true"/>
<arg name="sensor_sources" default="/front/scan"/>
<arg name="use_map_topic" default="true"/>
<arg name="initial_pose_x" default="0.0"/>
<arg name="initial_pose_y" default="0.0"/>
<arg name="initial_pose_phi" default="0.0"/>
<arg name="initial_pose_std_xy" default="0.10"/>
<arg name="initial_pose_std_phi" default="0.10"/>
<arg name="pose_broadcast" default="true"/>

<node pkg="mrpt_localization" type="mrpt_localization_node" name="mrpt_localization_node" output="screen">
    <param name="ini_file" value="$(arg ini_file)"/> 
    <param name="map_file" value="$(arg map_file)"/> 
    <param name="odom_frame_id" value="$(arg odom_frame_id)"/> 
    <param name="global_frame_id" value="$(arg global_frame_id)"/> 
    <param name="base_frame_id" value="$(arg base_frame_id)"/> 
    <param name="map_update_skip" value="$(arg map_update_skip)"/> 
    <param name="particlecloud_update_skip" value="$(arg particle_cloud_update_skip)"/> 
    <param name="debug" value="$(arg debug)"/>
    <param name="pose_broadcast" value="$(arg pose_broadcast)"/>
    <param name="gui_mrpt" value="$(arg gui_mrpt)"/> 
    <param name="sensor_sources" value="$(arg sensor_sources)"/>
    <param name="use_map_topic" value="$(arg use_map_topic)"/>
    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <param name="initial_pose_phi" value="$(arg initial_pose_phi)"/>
    <param name="initial_pose_std_xy" value="$(arg initial_pose_std_xy)"/>
    <param name="initial_pose_std_phi" value="$(arg initial_pose_std_phi)"/>
    <remap from="particlecloud" to="/mrpt/particlecloud"/>
    <remap from="mrpt_pose" to="/mrpt_pose"/>
  </node> 


</launch>

