<?xml version="1.0"?>
<launch>
        <arg name="nav_goal" default="[0.0, 0.0, 0.0]" />
        <arg name="start_pose" default="[0.0, 0.0, 0.0]" />
        <arg name="start_vel" default="2.0" />

	<!-- Node: TP Space A* Navigator builder -->
	<node pkg="tps_astar_nav" type="tps_astar_nav_node" name="tps_astar_nav_node" output="screen">
        <rosparam file="$(find tps_astar_nav)/configs/params/nav-engine-params.yaml" command="load" ns="nav-engine-parameters" />
        <rosparam file="$(find tps_astar_nav)/configs/params/planner-params.yaml" command="load" ns="planner-parameters" />

        <rosparam file="$(find tps_astar_nav)/configs/params/costmap-obstacles.yaml" command="load" ns="global-costmap-parameters" />
        <rosparam file="$(find tps_astar_nav)/configs/params/costmap-obstacles.yaml" command="load" ns="local-costmap-parameters" />

        <rosparam file="$(find tps_astar_nav)/configs/params/costmap-prefer-waypoints.yaml" command="load" ns="prefer-waypoints-parameters" />
        <rosparam file="$(find tps_astar_nav)/configs/ini/ptgs_jackal.ini" command="load" ns="ptg" />
        
        <param name="nav_goal" value="$(arg nav_goal)"/>
        <param name="start_pose" value="$(arg start_pose)"/>
        <param name="start_vel" value="$(arg start_vel)"/>
	</node>

</launch>