<launch>
  <node pkg="mrpt_map" type="map_server_node" name="map_server_node" output="screen">

    <!-- MRPT map_server can read a map from two sources:

      1) A `.simplemap` file with raw sensory data + a `map.ini` file which
         specifies what kinds and how many metric maps will be generated. 

      2) a simple ROS1 map_server-compatible map yaml file. If the param 
         `map_yaml_file` is defined, it will override `ini_file` and `map_file`.

    -->

    <!-- Use these two for custom MRPT metric maps -->
    <param name="ini_file" value="$(find mrpt_map)/tutorial/map.ini"/>
    <param name="map_file" value="$(find mrpt_map)/tutorial/map.simplemap"/>

    <!-- Use this one for simple ROS grid maps -->
    <!-- <param name="map_yaml_file" value="$(find YOUR_PACKAGE)/map.yaml"/> -->

    <!-- ===== OTHER PARAMETERS ===== -->

    <!-- TF frame name to populate in the map message header -->
    <param name="frame_id" value="map"/>
    
    <!-- If >0, the frecuency in Hz at which the map message will be published 
         If <=0, it will be published only once upon start up.
    -->
    <param name="frequency" value="1"/>

    <!-- Prints verbose debug traces -->
    <param name="debug" value="false"/>

  </node>
</launch>

